doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv="Content-Security-Policy", content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;")
  body
    block content
